@import "variables";
@import "mixins";

button {
  &::ng-deep {
    color: $white;
    @include border($white);
    padding: 0.5rem 1rem;
    width: max-content;
    @include font-size("lg");
  }

  &:hover {
    &::ng-deep {
      border-color: $chrome-yellow;
      color: $chrome-yellow;
    }
  }

  &:disabled {
    &::ng-deep {
      border-color: $gray;
      color: $gray;
      cursor: not-allowed;
    }
  }
}
