@import "variables";
@import "mixins";

.Layout {
    padding: 0.5rem 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__MobileMenu {
        display: none;
    }

    &__Menu {
        width: $menu-width;
    }

    &__Header {
        width: 100%;
    }

    &__Container {
        width: 100%;
        height: calc(100% - #{$header-height});
        display: flex;
        flex-direction: row;
    }

    &__Pages {
        background-color: $menu-color;
        height: 100%;
        width: calc(100% - #{$menu-width});
        &__Page {
            height: 100%;
            background-color: $body-bg;
            border-top-left-radius: 24px;
            padding: 1rem 1rem 0 1rem;
        }

        &__Scroll {
            height: $page-height;
            display: block;
            @include scroll();
        }
    }
}

@media screen and (max-width: map-get($grid-breakpoints, "xl")) {
    .Layout {
        &__Menu {
            // width: 4rem;
        }
    }
}

@media screen and (max-width: map-get($grid-breakpoints, "md")) {
    .Layout {
        padding: 0;
        &__Menu {
            display: none;
        }

        &__Pages {
            width: 100%;
            background-color: $body-bg;
            &__Page {
                border: none;
                // padding-left: 0;
                // padding-right: 0;
                padding-bottom: 1rem;
            }
        }
    }
}
