<div class="container Layout">
    <div class="row h-100">
        <div class="Layout__Header">
            <app-header [route] = 'this.route'></app-header>
        </div>
        <div class="Layout__Container">
            <div class="Layout__Menu">
                <app-menu [currentPath]='this.route'></app-menu>
            </div>
            <div class="Layout__Pages">
                <div class="Layout__Pages__Container">
                    <div class="Layout__Pages__Page">
                        <div class="Layout__Pages__Scroll">
                            <ng-content></ng-content>
                        </div>
                    </div>
                </div>
                <div class="Layout__Footer">
                    <app-footer></app-footer>
                </div>
            </div>
        </div>
    </div>
</div>