.Activity {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
    &__Container {
        width: 100%;
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            li {
                cursor: pointer;
                opacity: 0.5;
                &:not(:last-child) {
                    margin-right: 2rem;
                }

                &:hover {
                    opacity: 1;
                    transition: 0.5s;
                }
            }
        }
    }
}
