@import "variables";

.Activity {
    display: flex;
    flex-direction: row;
    padding: 1rem 1rem;
    &__Container {
        width: 100%;
        ul {
            display: flex;
            flex-direction: row;
            li {
                cursor: pointer;
                opacity: 0.5;
                &:not(:last-child) {
                    margin-right: 2rem;
                }

                &:hover {
                    opacity: 1;
                    transition: 0.5s;
                }
            }
        }
    }
}

@media screen and (max-width: map-get($grid-breakpoints, "md")) {
    .Activity {
        &__Container {
            ul {
                flex-direction: column;
                li {
                    display: flex;
                    justify-content: center;
                    &:not(:last-child) {
                        margin-right: 0;
                        margin-bottom: 2rem;
                    }
                    opacity: 0.5;
                    &:hover {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}
