@import "variables";
@import "mixins";

.BusinessCenter {
    &__Container {
        padding: 1rem;
    }
}

.portfolio-card {
    position: relative;
    p {
        @include font-size('lg');
        width: calc(100% - 1.5rem);
        position: absolute;
        bottom: 0;
        padding: 1rem 0;
        left: 0.75rem;
        z-index: map-get($layout-level, 'cover');
        background-color: rgba($black, 0.8);
        pointer-events: none;
    }
}
