<div class="BasicInfo" *ngIf='this.user'>
  <div class="BasicInfo__Guide">
    <span class="BasicInfo__Avatar">
      <img [src]="this.user.profile.photo || 'assets/images/logo.png'" alt="{{this.user.profile.photo}}">
    </span>
    <ul>
      <li class="mb-4">
        <p>{{"Pages.Profile.NickName.Field" | translate}}</p>
        <span>
          {{this.user.profile.nickName || "-"}}
        </span>
      </li>
      <li>
        <p>{{"Pages.Profile.Identity.Field" | translate}}</p>
        <span>{{"Pages.Profile.Identity." + this.user.profile.identity | translate}}</span>
      </li>
    </ul>
  </div>
  <div class="BasicInfo__Container">
    <div class="BasicInfo__Info">
      <div *ngIf='this.isStudent' class="BasicInfo__Milestone">
        <h1>{{"Pages.Profile.LearningProcess.Title" | translate}}</h1>
        <app-learning-process></app-learning-process>
      </div>
      <div class="BasicInfo__Profile">
        <h1>{{"Pages.Profile.UserProfile.Title" | translate}}</h1>
        <ul>
          <li>
            <p>{{"Pages.Profile.UserProfile.Fields.FirstName" | translate}}</p>
            <span>
              {{this.user.profile.firstName || "-"}}
            </span>
          </li>
          <li>
            <p>{{"Pages.Profile.UserProfile.Fields.LastName" | translate}}</p>
            <span>
              {{this.user.profile.lastName || "-"}}
            </span>
          </li>
          <li>
            <p>{{"Pages.Profile.UserProfile.Fields.Gender" | translate}}</p>
            <span>
              {{this.user.profile.gender || "-"}}
            </span>
          </li>
          <li>
            <p>{{"Pages.Profile.UserProfile.Fields.Address" | translate}}</p>
            <span>
              {{this.user.profile.address || "-"}}
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="BasicInfo__Edit">
      <span (click)='this.toggleEditDialog()'>
        <em class="icon-edit"></em>
      </span>
    </div>
  </div>
</div>
