@import "variables";
@import "mixins";

.DashboardCard {
    width: 100%;
    display: flex;
    border-radius: 1rem;
    padding: 0.5rem;
    background-color: $menu-color;
    box-shadow: 0px 0px 1rem 1px $body-bg;
}