@import "variables";
@import "mixins";

.SignupModal {
    padding: 3rem;
    height: auto;
    width: 100%;
    background-color: $menu-color;
    position: relative;

    h1 {
        text-align: center;
        @include font-size("xxl");
        margin-bottom: 2rem;
    }

    &__Input {
        display: flex;
        flex-direction: row;
        align-items: center;
        input {
            display: inline-block;
            width: 100%;
            height: 3rem;
            color: $white;
            @include font-size("lg");
            &::-webkit-input-placeholder {
                color: rgba($white, 0.5);
            }
            border-width: 1.5px;
            background-color: inherit;
        }
        label {
            em {
                @include font-size("xxl");
                cursor: auto;
            }
            margin-right: 2rem;
            margin-bottom: 0;
        }
    }

    &__Field {
        margin-bottom: 1.5rem;
        small {
            display: flex;
            align-items: baseline;
            flex-direction: row;
            color: $rose;
            margin: 0.5rem 0;
            @include font-size("sm");
            padding-left: calc(30px + 2rem);
        }
    }

    &__Submit {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        & > span {
            @include border($white);
            border-radius: 100%;
            border-width: 1.5px;
            padding: 0.4rem;
            & > img {
                width: 1.5rem;
            }
            cursor: pointer;
            &:hover {
                border-color: $chrome-yellow;
            }
        }
        & > button {
            color: $white;
            @include border($white);
            padding: 0.5rem 1rem;
            width: max-content;
            @include font-size("lg");
            &:hover {
                border-color: $chrome-yellow;
                color: $chrome-yellow;
            }

            &:disabled {
                border-color: $gray;
                color: $gray;
                cursor: not-allowed;
            }
        }
    }
}

@media screen and (min-width: map-get($grid-breakpoints, "xxl")) {
    .SignupModal {
        // height: 50vh;
        h1 {
            margin-bottom: 5rem;
            @include font-size("xxxl");
        }
        &__Field {
            margin-bottom: 3rem;
        }
    }
}

@media screen and (min-width: map-get($grid-breakpoints, "xl")) {
    .SignupModal {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        h1,
        &__Field {
            width: 100%;
        }
    }
}

@media screen and (max-width: map-get($grid-breakpoints, "xl")) {
    .SignupModal {
        // height: auto;
        padding: 2rem;
        &__Field {
            &:not(:last-child) {
                margin-bottom: 0.25rem;
            }
            small {
                padding-left: 0;
            }
        }

        &__Input {
            & > input {
                width: 100%;
            }

            label {
                display: none;
            }
        }

        & > button {
            width: 100%;
        }
    }
}
