<div class="News">
    <div class="News__Container">
        <img [class.sliding-out]="this.isSliding" [src]="this.queue[0]" alt="">
        <img [class.sliding-in]="this.isSliding" [src]="this.queue[1]" alt="">
        <div (mouseenter)="this.mouseIn()" (mouseleave)="this.mouseLeave()">
            <ul>
                <li (click)="this.updateCurrent(i)" [class.active]="i === this.current" *ngFor="let i of [1,2,3,4]">
                    {{i}}</li>
            </ul>
        </div>
    </div>
</div>