<div (mouseenter)="this.path = this.gif" (mouseleave)="this.path = this.static"
  *ngIf="this.$window.device$ | async as device" [class.reverse] = "this.reverse" class="OutcomeCard">
  <div class="OutcomeCard__Preview">
    <a target="blank" [href]=" this.link">
      <img [src]=" device <= this.deviceType.Pad ? this.gif : this.path" alt="">
    </a>
  </div>
  <div class="OutcomeCard__Introduction">
    <h1>{{"Pages.Home.Outcome.Outcome" | translate}}</h1>
    <p>
      <ng-content></ng-content>
    </p>
  </div>
</div>
