<div class="Profile" *ngIf='this.$user.user$ | async as user'>
    <div class="col-12 col-md-6 mb-4 mb-md-0">
        <app-layout-card hideHead>
            <ng-container body>
                <div class="Profile__Basic">
                    <app-basic-info [user]='user'></app-basic-info>
                </div>
            </ng-container>
        </app-layout-card>
    </div>
    <div class="col-12 col-md-6">
        <app-layout-card>
            <ng-container body>
                2
            </ng-container>
        </app-layout-card>
    </div>
</div>

<app-message-popup (onclose)='this.$overlay.hidePopup()' [time] = '2' *ngIf='this.$overlay.popup$ | async as popup'>
    {{popup.options.message | translate}}
</app-message-popup>