@import "variables";
@import "mixins";

.Profile {
    display: flex;
    flex-direction: row;
    &__Basic,
    &__Dashboard {
        height: calc(#{$page-height} - 4rem);
        @include scroll;
        overflow-x: hidden;
    }
}

@media screen and (max-width: map-get($map: $grid-breakpoints, $key: "md")) {
    .Profile {
        flex-direction: column;
    }
}
