@keyframes text-slide {
    0% {
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        opacity: 0%;
    }

    100% {
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
        opacity: 100%;
    }
}
