@keyframes text-slide {
    0% {
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        opacity: 0%;
    }

    100% {
        top: 50%;
        transform: translateY(-50%);
        left: 100%;
        opacity: 100%;
    }
}

@keyframes carousel-slide-left-out {
    0% {
        transform: translate(0px);
    }

    100% {
        opacity: 0;
        transform: translate(-80%);
    }
}

@keyframes carousel-slide-left-in {
    0% {
        opacity: 0;
        transform: translate(80%);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes carousel-slide-down-out {
    0% {
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        transform: translateY(4rem);
    }
}

@keyframes carousel-slide-down-in {
    0% {
        opacity: 0;
        transform: translateY(-4rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
