@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes text-slide {
  0% {
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    opacity: 0%;
  }

  100% {
    top: 50%;
    transform: translateY(-50%);
    left: 100%;
    opacity: 100%;
  }
}

@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes landing-logo-rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(360deg);
  }

  100% {
    transform: translateX(-130%);
  }
}

@keyframes showup {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes border-cycle {
  0% {
    width: 0;
    height: 0;
  }
  25% {
    width: 100%;
    height: 0;
  }
  50% {
    width: 100%;
    height: 100%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

@keyframes carousel-slide-left-out {
  0% {
    transform: translate(0px);
  }

  100% {
    // opacity: 0;
    transform: translate(-100%);
  }
}

@keyframes carousel-slide-left-in {
  0% {
    opacity: 0;
    transform: translate(100%);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes carousel-slide-down-out {
  0% {
    transform: translateY(0px);
  }

  100% {
    // opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes carousel-slide-down-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
