$black: #000000;
$white: #ffffff;

$blue-layer-1: #161833;
$blue-layer-2: #21244d;
$blue-layer-3: #2c315b;
$blue-layer-4: #2c395c;
$blue-layer-5: #5269a9;
$blue-layer-6: #d1dcf4;
$blue-layer-7: #b2c1e3;
$blue-layer-8: #ecf4ff;

$red-1: #ff1744;
$red-2: #d41c50;
$red-3: #cd264f;
$red-4: #852121;
$red-5: #e0343c;
$red-6: #ff455b;
$red-7: #b30000;
$red-8: #99325b;
$red-9: #ffd1d1;

$gray-1: #999;
$gray-2: #a5a5a5;
$gray-3: #b3b3b3;
$gray-4: #c1c1c1;
$gray-5: #c5c5c5;
$gray-6: #ebebeb;
$gray-7: #ddd;
$gray-8: #f5f5f5;
$gray-9: #f5f5f5;
$gray-10: #cccccc;
$gray-11: #9f9f9f;
$gray-12: #8b8b94;

$green-1: #28a745;
$green-2: #67d658;

$pink-1: #bc3c76;
$pink-2: #fa4182;
$pink-3: #ff5497;

$purple-1: #ad9abf;

// new

$white: #fff;
$black: #000;

$c-F4FAFF: #f4faff;
$c-F4F6F8: #f4f6f8;
$c-ECEEF1: #eceef1;
$c-3C547D: #3c547d;
$c-2C4165: #2c4165;
$c-00A3B4: #00a3b4;
$c-0887E3: #0887e3;
$c-B8061C: #b8061c;
$c-008000: #008000;

$c-212B36: #212b36;
$c-637381: #637381;
$c-70747B: #70747b;
$c-919EAB: #919eab;
$c-C4CDD5: #c4cdd5;
$c-DFE3E8: #dfe3e8;
$c-EDF7E4: #edf7e4;
$c-D80238: #d80238;
$c-FEE7E7: #fee7e7;
$c-E4F2F3: #e4f2f3;
$c-E79A1A: #e79a1a;
$c-FEF4E7: #fef4e7;
$c-6EADDE: #6eadde;
$c-E5F1FB: #e5f1fb;
$c-087DED: #087ded;
$c-0770D4: #0770d4;
$c-1873C9: #1873c9;
$c-3EA603: #3ea603;

$east-bay: $c-3C547D;
$dark-blue: $c-2C4165;
$bright-blue: $c-0887E3;
$aqua-green: $c-00A3B4;
$dark-aqua-green: #037f8c;
$polo-blue: #90a4c6;

$rose: $c-B8061C;
$carmine: $c-D80238;
$bean-green: $c-008000;
$chrome-yellow: $c-E79A1A;
$midnight: $c-212B36;
$dark-gray-blue: $c-637381;
$gray: $c-70747B;
$gray-blue: $c-919EAB;
$link-water: $c-C4CDD5;
$light-gray: $c-DFE3E8;
$sliver: $c-ECEEF1;
$gainsboro: $c-F4F6F8;
$alice-blue: $c-F4FAFF;
$light-green: $c-EDF7E4;
$light-yellow: $c-FEF4E7;
$light-aqua-green: $c-E4F2F3;
$light-red: $c-FEE7E7;
$azure: $c-087DED;
$science-blue: $c-0770D4;
$navy-blue: $c-1873C9;
$aqual-pearl: $c-6EADDE;
$light-blue: $c-E5F1FB;
$water-grass: $c-3EA603;
