$black: #000000;
$white: #ffffff;

$blue-1: #101233;
$blue-2: #161833;
$blue-3: #21244d;
$blue-4: #262a4f;
$blue-5: #2c325c;
$blue-6: #2e2b66;
$blue-7: #465bca;
$blue-8: #3b70eb;
$blue-9: #3498db;
$blue-10: #636a95;
$blue-11: #6c708d;
$blue-12: #7e8bd9;
$blue-13: #8c94c1;
$blue-14: #9092a6;
$blue-15: #58bfd6;
$blue-16: #4299e1;
$blue-17: #d5e8ff;
$blue-18: #ececf8;
$blue-19: #eeeefa;
$blue-20: #22a892;
$blue-21: #d5d5e1;
$blue-22: #2d315b;
$blue-23: #111124;
$blue-24: #213f85;

$orange-1: #ef951b;
$orange-2: #e69f1c;
$orange-3: #ffb03b;
$orange-4: #ff9054;
$orange-5: #ffa05d;
$orange-6: #fd7e14;
$orange-7: #ffa500;
$orange-8: #d67c02;
$orange-9: #e8802d;

$yellow-1: #ffe205;

$red-1: #ff1744;
$red-2: #d41c50;
$red-3: #cd264f;
$red-4: #852121;
$red-5: #e0343c;
$red-6: #ff455b;
$red-7: #b30000;
$red-8: #99325b;

$gray-1: #999;
$gray-2: #a5a5a5;
$gray-3: #b3b3b3;
$gray-4: #c1c1c1;
$gray-5: #c5c5c5;
$gray-6: #ebebeb;
$gray-7: #ddd;
$gray-8: #f5f5f5;
$gray-9: #f5f5f5;
$gray-10: #cccccc;
$gray-11: #9f9f9f;
$gray-12: #8b8b94;

$green-1: #28a745;
$green-2: #67d658;

$pink-1: #bc3c76;
$pink-2: #fa4182;
$pink-3: #ff5497;

$purple-1: #e026d7;
$purple-2: #fc3bff;

// new

$white: #fff;
$black: #000;

$c-F4FAFF: #f4faff;
$c-F4F6F8: #f4f6f8;
$c-ECEEF1: #eceef1;
$c-3C547D: #3c547d;
$c-2C4165: #2c4165;
$c-00A3B4: #00a3b4;
$c-0887E3: #0887e3;
$c-B8061C: #b8061c;
$c-008000: #008000;

$c-212B36: #212b36;
$c-637381: #637381;
$c-70747B: #70747b;
$c-919EAB: #919eab;
$c-C4CDD5: #c4cdd5;
$c-DFE3E8: #dfe3e8;
$c-EDF7E4: #edf7e4;
$c-D80238: #d80238;
$c-FEE7E7: #fee7e7;
$c-E4F2F3: #e4f2f3;
$c-E79A1A: #e79a1a;
$c-FEF4E7: #fef4e7;
$c-6EADDE: #6eadde;
$c-E5F1FB: #e5f1fb;
$c-087DED: #087ded;
$c-0770D4: #0770d4;
$c-1873C9: #1873c9;
$c-3EA603: #3ea603;

$east-bay: $c-3C547D;
$dark-blue: $c-2C4165;
$bright-blue: $c-0887E3;
$aqua-green: $c-00A3B4;
$dark-aqua-green: #037f8c;
$polo-blue: #90a4c6;

$rose: $c-B8061C;
$carmine: $c-D80238;
$bean-green: $c-008000;
$chrome-yellow: $c-E79A1A;
$midnight: $c-212B36;
$dark-gray-blue: $c-637381;
$gray: $c-70747B;
$gray-blue: $c-919EAB;
$link-water: $c-C4CDD5;
$light-gray: $c-DFE3E8;
$sliver: $c-ECEEF1;
$gainsboro: $c-F4F6F8;
$alice-blue: $c-F4FAFF;
$light-green: $c-EDF7E4;
$light-yellow: $c-FEF4E7;
$light-aqua-green: $c-E4F2F3;
$light-red: $c-FEE7E7;
$azure: $c-087DED;
$science-blue: $c-0770D4;
$navy-blue: $c-1873C9;
$aqual-pearl: $c-6EADDE;
$light-blue: $c-E5F1FB;
$water-grass: $c-3EA603;
