@import "variables";

.custom-checkbox {
  user-select: none;
  .custom-control-input:disabled {
    ~ .custom-control-label {
      cursor: not-allowed;
    }
    &:checked ~ .custom-control-label::before {
      background-color: $gray-blue;
      border-color: $gray-blue;
    }
    &:indeterminate ~ .custom-control-label::before {
      background-color: $gray-blue;
      border-color: $gray-blue;
    }
  }
}

.custom-radio {
  user-select: none;
  .custom-control-label::after {
    transform: scale(1.25);
  }
  .custom-control-input:disabled {
    ~ .custom-control-label {
      cursor: not-allowed;
    }
    &:checked ~ .custom-control-label::before {
      background-color: $gray-blue;
      border-color: $gray-blue;
    }
    &:indeterminate ~ .custom-control-label::before {
      background-color: $gray-blue;
      border-color: $gray-blue;
    }
  }
}
