@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin font-size($size) {
    font-size: map-get($font-size, $size);
}

@mixin g5-font($size, $color, $weight) {
    color: $color !important;
    font-size: $size !important;
    line-height: $size !important;
    font-weight: $weight;
}

@mixin g5-input {
    display: flex;
    outline: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: $white;
    @include border($link-water);
    & > em {
        margin-left: 1rem;
    }
    &:focus {
        border-color: $bright-blue;
    }

    &:disabled {
        color: $dark-gray-blue;
        border-color: $light-gray;
        background-color: $gainsboro;
    }
}

@mixin g5-card {
    @include box-shadow(rgba(236, 238, 241, 0.6));
    @include border($sliver);
    background-color: $white;
}

@mixin box-shadow($color) {
    box-shadow: 0 1px 1px 0 $color;
}

@mixin g5-outrange-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

@mixin border($color) {
    border: 1px solid $color;
    border-radius: 3px;
}

@mixin scroll {
    overflow: auto;
    &::-webkit-scrollbar {
        width: 0.375rem;
        height: 0.375rem;
    }

    &::-webkit-scrollbar-thumb {
        background: $light-gray;
        border-radius: 10px;
    }
}
