@import "variables";
@import "mixins";

.Guideline {
  height: 100%;
  &__Body {
    ul {
      margin-top: 3rem;
      li {
        &:not(:last-child) {
          margin-bottom: 3rem;
        }
      }
    }
  }
}

@media screen and (max-width: map-get($map: $grid-breakpoints, $key: "md")) {
  .Guideline {
    &__Body {
      ul {
        margin-top: 1rem;
        li {
            display: flex;
            justify-content: center;
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
}
