<!-- <li>有7年網站前端教學經驗</li>
                  <li>獨創的形象式教學</li>
                  <li>累計協助20名以上無痛轉職</li>
                  <li>累計教學時數超過3000小時</li> -->
<div class="Guideline col">
  <div class="Guideline__Container h-100 row">
    <div class="col-12 mb-3">
      <app-layout-card fullHeight [maxHeight]='0'>
        <h1 class="layout-page-title">{{"Pages.Guideline.AboutUs.Title" | translate}}</h1>
        <div body class="Guideline__Body">
          <p>{{"Pages.Guideline.AboutUs.Introduction" | translate}}</p>
        </div>
      </app-layout-card>
    </div>
    <div class="col-md-6 col-12 mb-md-0 mb-3">
      <app-layout-card fullHeight>
        <h1 class="layout-page-title">{{"Pages.Guideline.Feature.Title" | translate}}</h1>
      </app-layout-card>
    </div>
    <div class="col-md-6 col-12">
      <app-layout-card fullHeight>
        <h1 class="layout-page-title">{{"Pages.Guideline.Memorabilia.Title" | translate}}</h1>
      </app-layout-card>
    </div>
  </div>