<div class="Guideline col-12">
  <div class="Guideline__Container ">
    <app-layout-card>
      <h1 class="layout-page-title">{{"Pages.Home.Aboutus" | translate}}</h1>
      <div body class="Guideline__Body">
        <p>{{"Pages.Guideline.Introduction" | translate}}</p>
        <ul class="row">
          <li class="col-md-3 col-12">
            <app-feature-card>
              <!-- <li>有7年網站前端教學經驗</li>
              <li>獨創的形象式教學</li>
              <li>累計協助20名以上無痛轉職</li>
              <li>累計教學時數超過3000小時</li> -->
            </app-feature-card>
          </li>
          <li class="col-md-3 col-12">
            <app-feature-card></app-feature-card>
          </li>
          <li class="col-md-3 col-12">
            <app-feature-card></app-feature-card>
          </li>
          <li class="col-md-3 col-12">
            <app-feature-card></app-feature-card>
          </li>
          <li class="col-md-3 col-12">
            <app-feature-card></app-feature-card>
          </li>
        </ul>
      </div>
    </app-layout-card>
  </div>
</div>