<div class="Guideline col-12">
  <div class="Guideline__Container ">
    <app-layout-card>
      <h1 class="layout-page-title">{{"Pages.Home.Aboutus" | translate}}</h1>
      <div body class="Guideline__Body">
        <p>{{"Pages.Guideline.Introduction" | translate}}</p>
        <ul class="row">
          <li class="col-md-3 col-12">
            <app-feature-card></app-feature-card>
          </li>
          <li class="col-md-3 col-12">
            <app-feature-card></app-feature-card>
          </li>
          <li class="col-md-3 col-12">
            <app-feature-card></app-feature-card>
          </li>
          <li class="col-md-3 col-12">
            <app-feature-card></app-feature-card>
          </li>
          <li class="col-md-3 col-12">
            <app-feature-card></app-feature-card>
          </li>
        </ul>
      </div>
    </app-layout-card>
  </div>
</div>
