<div class="Menu">
    <div class="Menu__Container">
        <ul>
            <ng-container *ngFor='let menuItem of this.menuList;'>
                <li *ngIf='!menuItem.hide'>
                    <app-menu-item (onclick)='this.navigate($event)' [parms]='menuItem'>{{menuItem.i18n | translate}}
                    </app-menu-item>
                </li>
            </ng-container>
        </ul>
        <ul>
            <li>
                <app-menu-item (onclick)='this.$auth.logout()' [parms]='this.logout'>{{this.logout.i18n | translate}}
                </app-menu-item>
            </li>
            <li>
                <app-menu-item [parms]='this.setting'>{{this.setting.i18n | translate}}</app-menu-item>
            </li>
        </ul>
    </div>
</div>