<div class="AboutUs">
    <p>{{"Pages.Guideline.AboutUs.Introduction" | translate}}</p>
    <div class="AboutUs__Container">
        <ul class="AboutUs__History">
            <li class="AboutUs__Point">
                <div>
                    <h2>2015</h2>
                    <p>G5Tutor 成立</p>
                </div>
            </li>
            <li>
                <div class="AboutUs__Point">
                    <div>
                        <p>2020</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>