@import "variables";

.AboutUs {
    height: 100%;
    &__Container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width: map-get($grid-breakpoints, "md")) {
    .AboutUs {
        &__Container {
            display: flex;
            margin-top: 0;
        }
    }
}
