<div class="Header">
    <div (click)='this.$navigation.navigate("home")' class="Header__Logo">
        <img src="assets/images/logo.png" alt="">
        <p>STUDIO</p>
    </div>
    <div class="Header__Navigation">
        <app-language-menu></app-language-menu>
        <app-menu-item [size]='"xl"' [parms]='this.profile'>{{this.profile.i18n | translate}}</app-menu-item>
        <button (click)='this.expand(tmenu)' class="Header__MenuIcon"><em class="icon-list"></em></button>
    </div>
    <div [ngStyle]="{'visibility': this.isOpen ? 'visible' : 'hidden'}" class="Header__Menu">
        <div #tmenu>
            <app-menu [currentPath]='this.route'></app-menu>
        </div>
    </div>
</div>