<div class="Home">
  <div class="col-12 mb-4">
    <app-layout-card>
      <h1><em class="icon-message"></em>{{"Pages.Home.News" | translate}}</h1>
      <ng-container body>
        <app-news></app-news>
      </ng-container>
    </app-layout-card>
  </div>
  <div class="col-12 col-md-6 mb-4 mb-md-0">
    <div class="row h-100">
      <div class="col-12 mb-4">
        <app-layout-card [maxHeight]='15' fullHeight>
          <h1><em class="icon-library"></em>{{"Pages.Home.Q&A.Title" | translate}}</h1>
          <ng-container body>
            <app-general-questions></app-general-questions>
          </ng-container>
        </app-layout-card>
      </div>
      <div class="col-12">
        <app-layout-card fullHeight [maxHeight]='15' [linkPath]="this.isDev ? '/guideline' : this.isDev">
          <h1><em class="icon-guide"></em>{{"Pages.Home.Aboutus" | translate}}</h1>
          <ng-container body>
            <app-about-us></app-about-us>
          </ng-container>
        </app-layout-card>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6">
    <app-layout-card [linkPath]="this.isDev ? '/training' : this.isDev" fullHeight>
      <h1><em class="icon-guidebook"></em>{{"Pages.Home.Training" | translate}}</h1>
      <ng-container body>
        <app-outcome></app-outcome>
      </ng-container>
    </app-layout-card>
  </div>
  <div class="col-12 mt-4">
    <app-layout-card fullHeight [linkPath]="this.isDev ? '/enterprise' : this.isDev">
      <h1><em class="icon-exchange"></em>{{"Pages.Home.Business.Title" | translate}}</h1>
      <ng-container body>
        <app-business-center></app-business-center>
      </ng-container>
    </app-layout-card>
  </div>
  <div class="col-12 mt-4">
    <app-layout-card>
      <h1><em class="icon-file9"></em>{{"Pages.Home.Activity" | translate}}</h1>
      <ng-container body>
        <app-activity></app-activity>
      </ng-container>
    </app-layout-card>
  </div>
</div>