<div class="Home">
    <div class="col-12 mb-4">
        <app-layout-card>
            <h1><em class="icon-record1"></em>團班資訊</h1>
            <ng-container body>
                <button (click)='this.$overlay.toggleModal()'>test</button>
            </ng-container>
        </app-layout-card>
    </div>
    <div class="col-12 col-md-6 mb-4 mb-md-0">
        <app-layout-card hideHead></app-layout-card>
    </div>
    <div class="col-12 col-md-6">
        <app-layout-card></app-layout-card>
    </div>
</div>