<div class="Timeline">
    <ul>
        <li>
            <div class="Timeline__Point {{this.tooltipPosition}}">
                <div>
                    <h2>2015</h2>
                    <p>G5 Tutor 成立</p>
                </div>
            </div>
        </li>
        <li>
            <div class="Timeline__Point {{this.tooltipPosition}}">
                <div>
                    <h2>2016</h2>
                    <p>G5 Case 成立</p>
                </div>
            </div>
        </li>
        <li>
            <div class="Timeline__Point {{this.tooltipPosition}}">
                <div>
                    <h2>2019</h2>
                    <p>G5Studio™ 成立</p>
                </div>
            </div>
        </li>
    </ul>
</div>