@import "variables";
@import "mixins";

input {
    width: 80%;
    height: 100%;
    padding: 0 0.5rem;
}

p {
    word-break: break-all;
    max-width: 100%;
    @include g5-outrange-hidden();
}

span {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    em {
        cursor: auto;
    }
    p {
        // display: inline-block;
    }
}

@media screen and (max-width: map-get($grid-breakpoints, "md")) {
    input {
        width: 100%;
    }
}
