@import "variables";
@import "mixins";

.AboutUs {
  padding: 0 1.5rem;
  height: 100%;
  ul {
    height: 100%;
    li {
      display: flex;
      align-items: center;
      & > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        min-height: 8rem;
        @include border($link-water);
        padding: 0.5rem 1rem;
        h1 {
          @include font-size("md");
          text-align: right;
        }

        img {
          width: 8rem;
        }

        & > div {
          flex: 1;
          height: 100%;
          ul {
            li {
              display: flex;
              justify-content: flex-end;
            }
          }
        }
      }
    }
  }

  &__Tutor {
    background-color: $logo-bg;
  }

  &__Case {
  }
}
